.mat-card-simples {
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.card {
  max-width: 630px;
  background-color: rgb(214, 230, 236);
  margin-top: 1rem;
}

.mat-form-principal {
  margin-left: 5px;
}
